#grid tr{
    height: 100px;
}

#grid tr td{
    width: 100px;
}

.red{
    background-color: green;
}

.green{
    background-color: red;
}

.yellow{
    background-color: yellow;
}